---
import { t } from 'i18next';
import ThemeToggle from '@/layouts/components/ThemeToggle.astro';
import PaypalDonate from '@/components/PaypalDonate.astro';
import logoImage from '@/assets/images/logo.png';
import { Button } from '@/components/ui/button';
import Language from './Language.astro';
---

<header
  class="sticky top-0 z-50 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60"
>
  <div class="container flex items-center h-16 space-x-4 sm:justify-between sm:space-x-0">
    <div class="flex gap-6 md:gap-10">
      <div class="flex items-center space-x-2">
        <div class="flex-shrink-0">
          <a href="/"><img class="w-8 h-8" src={logoImage.src} alt="Super Raffler" /></a>
        </div>
        <div class="flex-shrink-0">
          <a href="/" class="antialiased font-bold sm:text-xs md:text-2xl overflow-ellipsis"
            ><h1>{t('global.app-title')}</h1></a
          >
        </div>
        <!-- Top Menu -->
        <div class="md:block">
          <div class="flex items-baseline ml-10">
            <a href="/dashboard">
              <Button variant={'outline'} size={'default'}>Dashboard</Button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-end flex-1">
      <nav class="flex items-center space-x-1">
        <a href="/signin">
          <Button variant={'outline'} size={'default'}>Sign In</Button>
        </a>

        <Language />
        <ThemeToggle />
        <PaypalDonate />
      </nav>
    </div>
  </div>
</header>
