---
import { t } from 'i18next';
import logoImage from '@/assets/images/logo.jpeg';
import { Input } from './ui/input';
import { Button } from './ui/button';
---

<section>
  <div class="flex items-center justify-center">
    <div class="px-12 py-6">
      <div class="text-center">
        <h2 class="header">
          {t('index.participate-heading')}
        </h2>
        <span class="text-xl font-semibold">{t('index.participate-subheading')}</span>
        <div class="w-full py-10 text-center">
          <form @submit.prevent="checkRaffle">
            <div class="flex items-center max-w-lg p-1 pr-0 mx-auto">
              <Input
                type="text"
                required
                id="raffleCode"
                placeholder={t('index.enter-code')!}
                className="flex-auto p-3 mr-2 text-base font-medium text-center text-gray-900 placeholder-gray-500 uppercase bg-white border rounded-lg shadow focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                maxLength={8}
              />

              <Button type="submit" variant="default" size="lg">
                {t('index.btn-participate')}
              </Button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="px-4 mx-auto max-w-7xl sm:px-6 md:px-12 lg:px-24">
    <div class="flex flex-col items-center w-full pb-4 text-center">
      <div class="inline-flex items-center justify-center flex-shrink-0 w-32 h-32 mx-auto mb-5 rounded-full bg-gray-50">
        <img class="w-32 h-32 rounded-full" src={logoImage.src} alt="Super Raffler" />
      </div>
      <h1 class="header">
        {t('index.create-heading')}
      </h1>

      <span class="text-xl font-semibold">
        {t('index.create-subheading')}
      </span>

      <div class="w-full py-5 text-center">
        <button class="bigButton">{t('index.btn-register')}</button>
        <button class="outlineButton">{t('index.link-howto')}</button>
      </div>
    </div>
  </div>
</section>

<style>
  .header {
    @apply w-full my-3 text-5xl font-semibold font-abel leading-tight;
  }

  .bigButton {
    @apply w-2/5 p-3 font-semibold text-white rounded shadow bg-primary hover:bg-secondary;
  }

  .outlineButton {
    @apply w-2/5 p-3 font-semibold text-myCyan-800 rounded shadow bg-transparent hover:bg-primary hover:text-white;
  }
</style>
