<form action="https://www.paypal.com/donate" method="post" target="_blank" class="flex my-2 text-end">
  <input type="hidden" name="business" value="UP72LSUN9V5YY" />
  <input type="hidden" name="item_name" value="Suportar o Site Super Raffler" />
  <input type="hidden" name="currency_code" value="EUR" />
  <input
    type="image"
    src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif"
    name="submit"
    title="PayPal - The safer, easier way to pay online!"
    alt="Donate with PayPal button"
  />
  <img alt="Paypal" src="https://www.paypal.com/pt_PT/i/scr/pixel.gif" width="1" height="1" />
</form>
