---
import HeadSEO from '@/layouts/components/HeadSEO.astro';
import Footer from '@/layouts/components/Footer.astro';
import Header from '@/layouts/components/Header.astro';
import i18next, { changeLanguage } from 'i18next';

interface Props {
  title?: string | undefined;
  description?: string | undefined;
  ogImage?: URL | undefined;
}

changeLanguage();

const { title, description, ogImage } = Astro.props;
---

<html lang={i18next.language}>
  <head>
    <HeadSEO title={title} description={description} ogImage={ogImage} />
  </head>
  <body class="min-h-screen font-sans antialiased bg-background">
    <div class="relative flex flex-col min-h-screen">
      <Header />
      <main class="flex-auto">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
