---
import HeadSEO from '@/layouts/components/HeadSEO.astro';
import Footer from '@/layouts/components/Footer.astro';
import Header from '@/layouts/components/Header.astro';

interface Props {
  title?: string | undefined;
  description?: string | undefined;
  ogImage?: URL | undefined;
}

const { title, description, ogImage } = Astro.props;
---

<html lang="en">
  <head>
    <HeadSEO title={title} description={description} ogImage={ogImage} />
  </head>
  <body class="min-h-screen font-sans antialiased bg-background">
    <div class="relative flex flex-col min-h-screen">
      <Header />
      <main class="flex-auto">
        <slot />
      </main>
      <Footer />
    </div>
    <script is:inline src="./node_modules/preline/preline.js"></script>
  </body>
</html>
